


#header{

text-align: center;
padding : 20px;
color: yellowgreen;
border: 1px;

}

h3{

    text-align: center;
    padding: 20px;
    color: #47a13b;
    border: 1px;
}

img{

    width: 350px;
    height: auto;
}
#table{

   text-align: center;
}